@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #383e56;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #c5d7bd;
}

.jumbotron h1 {
  margin-top: 20px;
  font-weight: 500;
}

#projects {
  background-color: #c5d7bd;
}

.footer {
  background-color: #383e56;
  padding-bottom: 5px;
}

.footer p {
  color: white;
}

.footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.bi {
  color: red;
}

section {
  padding-top: 7rem;
}
